<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-1.06523 -0.510126 0.22145" rpy="0.0559442 0.0732148 -0.286719" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-1.06523 -0.510126 0.22145   0.0224362 0.0402027 -0.141704 0.988838 base_link camera_color_frame" />
</launch>
