<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-1.42422 -0.133581 0.0864915" rpy="1.49405 0.988292 -3.05084" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-1.42422 -0.133581 0.0864915   0.320494 -0.613347 0.63066 -0.351222 base_link camera_color_optical_frame" />
</launch>
