<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="kinematics_config" default="$(find ur_e_description)/config/ur3e_default.yaml"/>

  <param unless="$(arg limited)" name="robot_description"
    command="$(find xacro)/xacro $(find ur3e_robotiq)/urdf/ur3e_robotiq_2f85_model.xacro
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)"
    />
  <param if="$(arg limited)" name="robot_description"
    command="$(find xacro)/xacro $(find ur3e_robotiq)/urdf/ur3e_robotiq_2f85_model_limited.xacro
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)"
    />
</launch>